@import "../../../styles/colors";

$headerHeight: 60px;

.main-header {
  height: $headerHeight;
  padding: 16px;
  display: flex;
  align-items: center;
  background: $cararra;

  &__hamburger {
    margin-left: auto;
  }
}
