<div class="home-card" [ngClass]="activeClass$ | async">
  <div class="home-card__content" *ngIf="home">
    <div class="home-card__content__img">
      <img [src]='home.imageUrl' alt="">
    </div>
    <div class="home-card__content__desc card-description">
      <div class="card-description__place-name">{{home.name}}</div>
      <div class="card-description__location">{{home.location}}</div>
      <div class="card-description__footer">
        <div class="card-description__footer__price">{{home.price | currency:home.currency}}</div>
        <div class="card-description__footer__meta">Designs may vary</div>
      </div>
    </div>
  </div>
  <div class="home-card__footer">
    <input type="button" class="btn btn--full" value="Book">
  </div>
</div>
